{%extends 'myschool/base.html'%}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<section class="container">
    <div class="jumbotron">
        <div>
            <h1>Upload Gallery images</h1>
            <form method="post" enctype="multipart/form-data" style="width:30%;height:40%;">
                {{gallery|crispy}}
                {% csrf_token %}
                <button type="submit" value="submit" class="btn btn-success btn-md">Upload</button>
            </form>
        </div>
        <a href="/gallery_edit" class="btn btn-warning btn-lg">Edit Gallery</a>
        <br><br>
        <div>
            <h1>Upload today news</h1>
            <form method="post" enctype="multipart/form-data" style="width:30%;height:40%;">
                {{news |crispy}}
                {% csrf_token %}
                <button type="submit" value="upload_news" class="btn btn-info btn-md">Upload News</button>
            </form>
        </div>
    </div>

</section>



{% endblock %}